<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty scope="context" name="LOG_HOME" source="log_path"/>
    <springProperty scope="context" name="LOG_LEVEL" source="log_level"/>
    <property scope="context" name="LOG_FILE_NAME" value="iot-digital-twin"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%method:%line - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
